@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  background-color: #324e8f;
}

.container{
    margin-top: 200px;
    width: 500px;
    text-align: center;
    line-height: 0px;
    color: #fff;
    font-size: 18px;
}

#choices{
    width: 100%;
    padding: 10px 10px 80px 10px;
    font-size: 16px;
    outline-color: #ff030f;
    word-wrap:break-word;
    overflow-wrap: break-word;
}

#btn{
    width: 105%;
    border: #ff030f;
    background-color: #ff030f;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.pick{
    margin-top: 30px;
    overflow-wrap: break-word;
}

span{
    color: #fff;
    background-color: #ff030f;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    margin: 0px 3px;
}

.highlight {
    background-color: #273c75;
    color: black;
}